In [18]:
import tweepy
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import pandas as pd
import json
import re
import csv
import numpy as np
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
import nltk

In [19]:
consumer_key = "wblCcwrSkTrL463ew9HBaOydH"
consumer_secret = "uCpAC4qsQ1gZTk9tk2nx2x0lkJTQYRIiwILZSzlWtxwxf186G5"
access_token = "1150618299392069632-Yx0HDItOkuvbiHT4KBrSoKdSM3lh3D"
access_token_secret = "iybEGs98DdvfsV5FTs0wzervU5pb9nI6Sh514gV9QI0Sm"

In [20]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)
tweet = api.search(q='kebakaran -filter:retweets',lang="id", count=5)

In [21]:
array=[]
forcsv={}
for hasil in tweet:
    sorting=' '.join(re.sub("(@[A-Za-z-9]+)|(\w+:\/\/\S+)"," ",hasil.text).split())
    text = re.sub('\d+<[^>]*>', '', sorting)
    emoticons = re.findall('(?::|;|=)()(?:-)?(?:\)|\(|D|P)',text)
    text = (re.sub('[\W]+', ' ', text.lower()) + ' '.join(emoticons).replace('-', ''))
    array.append(text)
    
 
        
forcsv['tweet']=array

In [22]:
forcsv

{'tweet': ['gue udah ga mikir pas mati lampu kebakaran dimana udah capek banget tidur aja ampe pagi ',
  'musibah itu kejadian yg diluar perbuatan orang tersebut tapi akibat alam misal bencana bisa longsor tenggelam k ',
  '_dasco ituu korupsi loo pak bukan rumah kebakaran kalau korupsi itu yaa kejahatan bukan musibah ',
  'ada apa dengan kebakaran hutan papua ',
  '_ad panas nie yeee baru di dunia bong lo udh kepanasan kebakaran ']}

In [23]:
df=pd.DataFrame(forcsv, columns= ['tweet'])

In [24]:
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory, StopWordRemover, ArrayDictionary
from nltk.tokenize import word_tokenize 

stop_factory = StopWordRemoverFactory().get_stop_words() 
more_stopword = ['yg','dm','lo','yee','loo']
data = stop_factory + more_stopword 
tampung=[]

for sastra in range(5):
    
    factory = StemmerFactory()
    stemmer = factory.create_stemmer()
    sentence = df.loc[sastra, 'tweet']
    output   = stemmer.stem(sentence)
    
    tokens = output.split()
    for kal in tokens:
        for stopp in data:
            if kal == stopp:
                tokens=list(filter(lambda a: a != stopp, tokens))
                print(tokens)
    s = " "
    kalistop = s.join(tokens)
    print(tokens)
    #urutan proses preprocess: 1 stopword 2. tokennize 3. stemming 4.normalisasi
    
    tampung.append(kalistop)

['gue', 'udah', 'ga', 'mikir', 'pas', 'mati', 'lampu', 'bakar', 'mana', 'udah', 'capek', 'banget', 'tidur', 'aja', 'ampe', 'pagi']
['musibah', 'jadi', 'yg', 'luar', 'buat', 'orang', 'sebut', 'tapi', 'akibat', 'alam', 'misal', 'bencana', 'bisa', 'longsor', 'tenggelam', 'k']
['musibah', 'jadi', 'luar', 'buat', 'orang', 'sebut', 'tapi', 'akibat', 'alam', 'misal', 'bencana', 'bisa', 'longsor', 'tenggelam', 'k']
['musibah', 'jadi', 'luar', 'buat', 'orang', 'sebut', 'akibat', 'alam', 'misal', 'bencana', 'bisa', 'longsor', 'tenggelam', 'k']
['musibah', 'jadi', 'luar', 'buat', 'orang', 'sebut', 'akibat', 'alam', 'misal', 'bencana', 'longsor', 'tenggelam', 'k']
['musibah', 'jadi', 'luar', 'buat', 'orang', 'sebut', 'akibat', 'alam', 'misal', 'bencana', 'longsor', 'tenggelam', 'k']
['dasco', 'ituu', 'korupsi', 'pak', 'bukan', 'rumah', 'bakar', 'kalau', 'korupsi', 'itu', 'yaa', 'jahat', 'bukan', 'musibah']
['dasco', 'ituu', 'korupsi', 'pak', 'bukan', 'rumah', 'bakar', 'kalau', 'korupsi', 'yaa', 'jahat', 'bukan', 'musibah']
['dasco', 'ituu', 'korupsi', 'pak', 'bukan', 'rumah', 'bakar', 'kalau', 'korupsi', 'yaa', 'jahat', 'bukan', 'musibah']
['apa', 'dengan', 'bakar', 'hutan', 'papua']
['apa', 'bakar', 'hutan', 'papua']
['apa', 'bakar', 'hutan', 'papua']
['ad', 'panas', 'nie', 'yeee', 'baru', 'dunia', 'bong', 'lo', 'udh', 'panas', 'bakar']
['ad', 'panas', 'nie', 'yeee', 'baru', 'dunia', 'bong', 'udh', 'panas', 'bakar']
['ad', 'panas', 'nie', 'yeee', 'baru', 'dunia', 'bong', 'udh', 'panas', 'bakar']

In [25]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer()

In [26]:
tampung

['gue udah ga mikir pas mati lampu bakar mana udah capek banget tidur aja ampe pagi',
 'musibah jadi luar buat orang sebut akibat alam misal bencana longsor tenggelam k',
 'dasco ituu korupsi pak bukan rumah bakar kalau korupsi yaa jahat bukan musibah',
 'apa bakar hutan papua',
 'ad panas nie yeee baru dunia bong udh panas bakar']

In [27]:
ardatacrawl =np.array(tampung)

In [28]:
bag = count.fit_transform(ardatacrawl)

a=count.get_feature_names()

bag = count.fit_transform(ardatacrawl)
a=count.get_feature_names()

In [29]:
a

['ad',
 'aja',
 'akibat',
 'alam',
 'ampe',
 'apa',
 'bakar',
 'banget',
 'baru',
 'bencana',
 'bong',
 'buat',
 'bukan',
 'capek',
 'dasco',
 'dunia',
 'ga',
 'gue',
 'hutan',
 'ituu',
 'jadi',
 'jahat',
 'kalau',
 'korupsi',
 'lampu',
 'longsor',
 'luar',
 'mana',
 'mati',
 'mikir',
 'misal',
 'musibah',
 'nie',
 'orang',
 'pagi',
 'pak',
 'panas',
 'papua',
 'pas',
 'rumah',
 'sebut',
 'tenggelam',
 'tidur',
 'udah',
 'udh',
 'yaa',
 'yeee']

In [30]:
from sklearn.feature_extraction.text import TfidfTransformer

tfidf = TfidfTransformer(use_idf=True, 
                         norm='l2', 
                         smooth_idf=True)
zxas =tfidf.fit_transform(count.fit_transform(ardatacrawl)).toarray()
print(tfidf.fit_transform(count.fit_transform(ardatacrawl)).toarray())

[[0.         0.2403027  0.         0.         0.2403027  0.
  0.13538235 0.2403027  0.         0.         0.         0.
  0.         0.2403027  0.         0.         0.2403027  0.2403027
  0.         0.         0.         0.         0.         0.
  0.2403027  0.         0.         0.2403027  0.2403027  0.2403027
  0.         0.         0.         0.         0.2403027  0.
  0.         0.         0.2403027  0.         0.         0.
  0.2403027  0.48060541 0.         0.         0.        ]
 [0.         0.         0.29296785 0.29296785 0.         0.
  0.         0.         0.         0.29296785 0.         0.29296785
  0.         0.         0.         0.         0.         0.
  0.         0.         0.29296785 0.         0.         0.
  0.         0.29296785 0.29296785 0.         0.         0.
  0.29296785 0.23636462 0.         0.29296785 0.         0.
  0.         0.         0.         0.         0.29296785 0.29296785
  0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.1409853  0.         0.         0.         0.         0.
  0.5004958  0.         0.2502479  0.         0.         0.
  0.         0.2502479  0.         0.2502479  0.2502479  0.5004958
  0.         0.         0.         0.         0.         0.
  0.         0.20189843 0.         0.         0.         0.2502479
  0.         0.         0.         0.2502479  0.         0.
  0.         0.         0.         0.2502479  0.        ]
 [0.         0.         0.         0.         0.         0.54903633
  0.30931749 0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.54903633 0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.54903633 0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.29725329 0.         0.         0.         0.         0.
  0.16746732 0.         0.29725329 0.         0.29725329 0.
  0.         0.         0.         0.29725329 0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.29725329 0.         0.         0.
  0.59450658 0.         0.         0.         0.         0.
  0.         0.         0.29725329 0.         0.29725329]]

In [31]:
tbl=pd.DataFrame(zxas,columns=[a])

In [32]:
tbl

,ad,aja,akibat,alam,ampe,apa,bakar,banget,baru,bencana,...,papua,pas,rumah,sebut,tenggelam,tidur,udah,udh,yaa,yeee
0,0.000000,0.240303,0.000000,0.000000,0.240303,0.000000,0.135382,0.240303,0.000000,0.000000,...,0.000000,0.240303,0.000000,0.000000,0.000000,0.240303,0.480605,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.292968,0.292968,0.000000,0.000000,0.000000,0.000000,0.000000,0.292968,...,0.000000,0.000000,0.000000,0.292968,0.292968,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.140985,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.250248,0.000000,0.000000,0.000000,0.000000,0.000000,0.250248,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.549036,0.309317,0.000000,0.000000,0.000000,...,0.549036,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.297253,0.000000,0.000000,0.000000,0.000000,0.000000,0.167467,0.000000,0.297253,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.297253,0.000000,0.297253

In [16]:
tbl.to_csv (r'output.csv', index = False, header=True)

In [17]:
craw=pd.DataFrame(forcsv, columns= ['tweet'])
craw.to_csv (r'crawling.csv', index = False, header=True)